<!DOCTYPE html>
<html>
<head>
    <title>BetCompare</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to external CSS -->
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-0 text-center title">BetCompare</h1>
        <p class="subheading">Showing you which bookie gives the best odds for your football game of choice</p>
        
        <div id="accordion">
            {% for league, matches in league_matches.items() %}
            <div class="card">
                <div class="card-header" id="heading{{ loop.index }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                            {{ league }}
                        </button>
                    </h5>
                </div>
                
                <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Bookie</th>
                                        <th>Match</th>
                                        <th>HomePrice</th>
                                        <th>AwayPrice</th>
                                        <th>DrawPrice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for match in matches %}
                                    <tr>
                                        <td><a href="{{ bookie_urls.get(match['bookie'], '#') }}">{{ match['bookie'] }}</a></td>
                                        <td>{{ match['home_team'] }} vs {{ match['away_team'] }}</td>
                                        <td>{{ match['home_price'] }}</td>
                                        <td>{{ match['away_price'] }}</td>
                                        <td>{{ match['draw_price'] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="container mt-4 text-center">
        <img src="https://thegamblingclinic.com/wp-content/uploads/2023/06/fact90-meme-scaled-e1686926211252-281x300.jpg" alt="Funny Image" class="image">
        <p>
            <a href="https://www.begambleaware.org/" target="_blank" class="link">Visit BeGambleAware for any help</a>
        </p>
    </div>
</body>
</html>
